<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloggers</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <%- include('./partials/header') %>

    <section class="home">
      <div class="container">
        <p>
          Welcome to Bloggers, a platform where you can read and write blogs.
        </p>
        <p>
          Click on the Blogs tab to read blogs or Authors tab to know more about
          the authors.
        </p>
        <button class="write-blog-btn">Write a Blog</button>
      </div>
    </section>
  </body>
</html>
